.navbar {
  background-color: darkblue;
  height: 80px;
}

.nav-list {
  display: flex;
  flex-direction: row;
  align-content: center;
}

.nav-item {
  border-left: 1px solid white;
}

.nav-link {
  color: white;
  font-size: 20px;
  font-weight: bold;
}

.bosses {
  display: flex;
}

.create-boss-form {
  margin-left: 20px;
}

.create-boss-form-input {
  font-size: 20px;
  width: 300px;
  padding: 10px;
  margin-bottom: 20px;
}

.boss-description-input {
  height: 100px;
}

.create-boss-btn {
  font-size: 20px;
  padding: 10px;
  background-color: darkblue;
  color: white;
}

li {
  list-style-type: none;
}
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.list-view {
  margin: 25px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  margin: 10px;
  width: 25%;
  border: 2px solid darkblue;
  border-radius: 2%;
}

.card:hover {
  background-color: #f7f7f7;
  cursor: pointer;
}

.card-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid darkblue;
}

.card-body {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid darkblue;
}

.delete-btn {
  background-color: red;
  color: white;
  margin: 10px;
  font-size: 15px;
  float: right;
}

.boss-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 25px;
}

.boss-name {
  margin: 10px;
  font-size: 20px;
  color: darkblue;
}

.boss-img {
  height: 300px;
  margin: 50px;
}
